@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.libre-font {
  font-family: 'Libre Baskerville', serif;
}

.poppins-font {
  font-family: 'Poppins', sans-serif;
}

/* ====== COLOR VARIABLES ====== */
.c-vibrant {
  color: #2c4f36;
}
.c-charcol {
  color: #2b2b2b;
}
.c-blue {
  color: #82919E;
}
.c-cream {
  color: #fbfaf9;
}
.c-light-gray {
  color: #e8e6e0;
}
.c-softgold {
  color: #b98b3e;
}

/* ==== SERVICE BUTTON ==== */
.service-btn {
  padding: 0.7rem 1.3rem;
  border: 1px solid #2b2b2b;
  font-weight: 600;
  border-radius: 0.9rem;
  background: #fbfaf9;
}